html {
    cursor: url("/assets/images/scope.cur"), auto;
}

body{
    background-image: url('/assets/images/duck.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#leftTree{
    width: 300px;
    height: 400px;
    position: relative;
    margin-right: 350px;
    margin-top: 200px;
    break-inside: avoid;
    z-index: -1;
}
#rightTree{
    width: 300px;
    height: 400px;
    position: relative;
    margin-left: 350px;
    margin-top: 200px;
    break-inside: avoid;
    z-index: -1;
}
.bird {
    width: 100px;
    height: 100px;
    background-color: transparent;
    position: absolute;
    top: 20%;
    display:none;
}

.sound{
    width: 50px;
    height: 50px;
    margin: 100px;
}

#play{
    width: 300px;
    height: 100px;
    font-size: 50px;
    background-color: rgb(158, 82, 140);
    color: azure;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 40%;
    cursor: url("/assets/images/scope.cur"), auto;
}

.score{
    width:200px;
    position:static;
    font-size: 40px;
    text-align: center;
    box-shadow: 50px;
    color: rgb(9, 106, 0);
    top: 0;
    left: 0;
    font-weight:bold;
    font-style: oblique;
    background-color: bisque;
}

.lives{
    width:200px;
    position: absolute;
    bottom: 0;
    font-size: 40px;
    text-align: center;
    box-shadow: 50px;
    color: rgb(9, 106, 0);
    font-weight:bold;
    font-style: oblique;
    background-color: bisque;
}

.loading{
    position: absolute;
    width: 250px;
    height: 42px;
    border-radius: 30px;
    text-align: center;
    font-size: 20px;
    color:  white;
    border: 2px solid black;
    top: 2%;
    right: 0;
    background-color: rgb(179, 203, 208, 0.5);
    overflow: hidden;
}

#progress{
    width: 0%;
    height: 65%;
    background-color: green;
    position: absolute;
    top: 0;
    padding-top: 15px;
    border-radius: 50px;
    z-index: -1;
}

#popupWin {
    position: fixed;
    width: auto;
    height: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1;
}

#popupWin-content {
    text-align: center;
    font-size: 2em;
    color: rgb(102, 3, 5);
}

#close-popupWin {
    margin-top: 20px;
    background-color: #7d2b2b;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}